:root {
    --grey-color: #f1f1f1;
    --black-color: #20222E;
    --blue-color: #007bff;
    --dark-grey-color: #515151;
    --light-grey-color: #7e7e7e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--grey-color);
    margin: 0;
}

p {
    margin: 5px;
}

a {
    color: var(--black-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--dark-grey-color);
}

.light-text {
    color: var(--light-grey-color);
}

.sm-heading {
    color: var(--black-color);
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.classic-link {
    color: var(--blue-color);
}

.classic-link:hover {
    color:#0063ce;
}

.nav-icon {
    font-size: 20px;
}

.sm-row.sd-item.last-sd-item {
    margin-top: auto;
    margin-bottom: 25px;
}

.to-right {
    margin-left: auto;
    margin-right: 15px;
}

.white-card {
    display: flex;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    gap: 10px;
    padding: 15px;

}

.section-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}

.section-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.white-card.nav-bar-vert {
    width: 150px;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0;
    padding-left: 25px;
    gap: 25px;
    height: 100vh;
}

.sm-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar-horz {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: white;
    border-radius: 25px;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    min-width: 720px;
    margin-top: 15px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.nav-links li {
    list-style-type: none;
}

.hamburger-icon{
    display: none;
}

.logo-img {
    width: auto;
    height: 32px;
    margin-left: 15px;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
}

.btn-primary {
    background-color: var(--blue-color);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    color: white;
    max-height: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0063ce;
}

.sign-up-link {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    max-height: fit-content;
    border-radius: 25px;
    flex-basis: 300px;
    align-items: flex-start;
    gap: 10px;
}

input {
    min-width: 300px;
    min-height: 45px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    padding-left: 10px;
}

::placeholder {
    color: #B3B3B3;
    font-size: 16px;
}

.submit-btn {
    border: none;
    border-radius: 15px;
    font-size: 16px;
    width: 100%;
    height: 45px;
    background-color: var(--black-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3e3e3e;
}

h3 {
    color: var(--dark-grey-color);
    font-weight: normal;
    margin-top: 0;
}

.progress-bar {
    display: flex;
    width: 180px;
    background-color: white;
    height: 20px;
    border-radius: 25px;
}

.progress-fill {
    height: inherit;
    background: linear-gradient(to right ,#BBE633, #9DF53A);
    border-radius: inherit;
}

.grey-bold-info {
    color: var(--dark-grey-color);
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger-icon {
        display: block;
        cursor: pointer;
        margin-top: 5px;
    }
    .nav-links.opened {
        display: flex;
        margin-top: 75px;
        padding-left: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar-horz {
        align-items: flex-start;
        width: 90%;
        min-width: 0px;
    }
    .rm-on-sm-screen {
        display: none;
    }
    .white-card.nav-bar-vert {
        height: 80px;
        width: 95%;
        bottom: 0;
        position: fixed;
        border-radius: 25px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 45px;
        margin-bottom: 10px;
    }

    .sm-row.sd-item {
        flex-direction: column;
        gap: 5px;
    }

    .sm-row.sd-item.last-sd-item {
        margin-bottom: 0px;
        margin-top: 0;
    }

    .section-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-icon {
        font-size: 28px;
    }
}